<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<div>
			<!-- <form class="" action="/new" method="post">
      <!== <button type="submit" name="button" class="uk-button uk-button-primary uk-button-large">post to /new</button>
    </form> -->
		</div><br>
		<!-- ADD MOVIE -->
		<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m wide">
			<h2>Add Person</h2>
			<form>
				<div class="uk-margin">
					<input class="uk-input uk-form-width-medium uk-form-large" placeholder="Name" type="text">
					<div class="uk-margin">
						<label class="uk-form-label" for="form-stacked-select">Select Role</label>
						<div class="uk-form-controls">
							<select class="uk-select" id="form-stacked-select">
								<option value="Actor">Actor</option>
								<option value="Director">Director</option>
							</select>
						</div>
					</div>
					<form action="/new/1?_method=PUT" class="" method="post">
						<button class="uk-button uk-button-primary uk-button-large" name="button" type="submit">Add To Person</button>
					</form>
				</div>
			</form>
		</div>
		<div></div>
	</div>
</body>
</html>
