<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie</title>

  </head>
  <body>


<!-- <a href="/add_movie"><img src="images/yay.png"></a> -->

      <div>



      </div>

      <!-- <a href="/new"><button type="submit" name="button" class="uk-button uk-button-primary uk-button-large">Add A Movie</button></a>
      <a href="/new"><button type="submit" name="button" class="uk-button uk-button-primary uk-button-large">Add A Person</button></a> -->

<br>
<br>

      <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m wide">
          <h2 class="uk-card-title wide">Welcome To Hollywood Actors Movies & Directors</h2>

      </div>

  </body>
</html>
