<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../css/uikit.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href='../stylesheets/style.css' rel='stylesheet'>
	<script src="../js/uikit.min.js">
	</script>
	<script src="../js/uikit-icons.min.js">
	</script>
</head>
<body>
	<div class="hollywood"></div>
	<center>
		<a href="/"><button class="uk-button uk-button-primary uk-button-large" name="button" type="submit">Home</button></a> <a href="/movie"><button class="uk-button uk-button-primary uk-button-large" name="button" type="submit">Movies</button></a> <a href="/person"><button class="uk-button uk-button-primary uk-button-large" name="button" type="submit">Person</button></a>
	</center>
	<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m wide">
		<!-- <h2 class="uk-card-title">ACTORS/DIRECTORS & MOVIES</h2> -->
		<div class="holly">
			{{{body}}}
		</div>
	</div>
</body>
</html>
