<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<!-- <a href="/movie"><button type="submit" name="button" class="uk-button uk-button-primary uk-button-large">Movies</button></a>
<a href="/person"><button type="submit" name="button" class="uk-button uk-button-primary uk-button-large">Person</button></a> -->
	<div>
		<p>{{title}}</p>
	</div>
	<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m wide">
		<h2 class="uk-card-title">Movies</h2>{{#each movie}}
		<h3>{{title}}</h3>
		<p>Actor ID: {{actor_id}}</p>
		<p>Director ID: {{director_id}} {{/each}}</p>
	</div><!-- <form class="" action="/new" method="post">
      <button type="submit" name="button" class="uk-button uk-button-primary uk-button-large">post to /new</button>
    </form>
</div>
<br>

<div>
    <form class="" action="/new/1?_method=PUT" method="post">
      <button type="submit" name="button" class="uk-button uk-button-primary uk-button-large">put to /new/1</button>
    </form> -->
</body>
</html>
